html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
}
img {
  width: 100%;
}
section {
  padding: 100px 0;
  background: #122e44;
}
.baslık {
  margin-bottom: 30px;
}
.başlık h2 {
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 30px;
  transition: all 0.5s ease-in-out;
}
.başlık h2:hover {
  background-color: #24caac;
}
/* HEADER */
header {
  background-color: rgb(44, 37, 33);
  border-bottom: 1px solid rgba(238, 238, 238, 0.801);
  position: fixed;
  z-index: 5;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0ch auto;
  width: 80%;
  padding: 10px 0;
}
.nav-links {
  display: flex;
}
.nav-links li a {
  margin-left: 15px;
  padding: 5px, 15px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.nav-links li a:hover {
  background: #24caac;
}

.logo h2 a {
  color: #fff;
  text-transform: uppercase;
}
/* aANASAYFA */

.inner-anasayfa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  color: #fff;
}
.child-anasayfa {
  flex-basis: 45%;
}
.child-anasayfa h1 {
  color: #24caac;
  font-size: 50px;
}

.span-child {
  color: rgb(194, 47, 133);
}
.child-anasayfa p {
  font-size: 25px;
  margin-bottom: 12px;
}
.btn {
  background-color: #24caac;
  padding: 20px 28px;
  border-radius: 20px;
  color: #fff;
  border: 1px solid #24caac;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: transparent;
  letter-spacing: 2px;
}
/* yazılımlar */
.innersoftware {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
  color: #fff;
}

.innersoftware-child {
  flex-basis: 31%;
  color: #fff;
  padding: 25px 20px;
  background: rgba(55, 66, 80, 0.281);
  border-radius: 5px;
  border: 1px transparent;
  transition: all 0.5s ease-in;
}
.innersoftware-child:hover {
  border: 1px solid #24caac;
}

.innersoftware-child .ikon {
  font-size: 25px;
  color: #24caac;
}
.innersoftware-child h3 {
  font-size: 20px;
  margin: 5px 0;
}
.innersoftware-child p {
  font-size: 16px;
}
/* SERTİFAKALARIM */
.inner-courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.child-courses {
  flex-basis: 24%;
  color: #fff;
  padding: 20px 10px;
  border: 1px solid transparent;
  transition: 0.3s;
  border-radius: 5px;
}

.child-courses:hover {
  border: 1px solid #24caac;
}
.child-courses .detail {
  display: flex;
  justify-content: space-between;
}
.child-courses .detail ul {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
}
.child-courses .detail ul li {
  color: gold;
}
/* BAŞARILAR */
.innerbas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.childbas {
  flex-basis: 40%;
}
.childbas img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.childbas1 {
  flex-basis: 46%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}

.childbas1 .singlebas {
  flex-basis: 48%;
  padding: 48px 30px;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s;
}
.singlebas:hover {
  transform: scale(1.03);
}
.sd1 {
  background: #eaa023;
  margin-bottom: 20px;
}
.sd2 {
  background: #e91e63;
  margin-bottom: 20px;
}
.sd3 {
  background: #24caac;
}
.sd4 {
  background: #2f363e;
}
/* yorumlar */
.kap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  color: #fff;
}
.genel {
  flex-basis: 46%;
  margin-bottom: 30px;
}
.foto {
  width: 80px;
  margin-bottom: 10px;
}
.foto img {
  border-radius: 50%;
}
.isim {
  color: #24caac;
  margin: 10px 0;
  display: inline-block;
}
.isim.btn:hover {
  text-decoration: underline;
}
/* iletişim */
.ilkap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}
.ilresim {
  flex-basis: 45%;
}
.ilresim form {
  padding: 50px 40px;
  background: #2f363e;
  border-radius: 5px;
}
.ilresim form input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background: #24292d;
  border: none;
  resize: none;
  border-radius: 25px;
  transition: 0.3s ease-in;
}
.ilresim form input,
textarea:focus {
  color: #fff;
}
.ilresim form input:focus {
  letter-spacing: 1px;
}
.ilresim form textarea:focus {
  letter-spacing: 1px;
}
.ilresim form input:last-child {
  margin-bottom: 0;
  background: #24caac;
  border: #24caac;
  transition: 0.3s;
}
.ilresim form input:last-child:hover {
  background: transparent;
  color: #fff;
}
/* footer */
footer {
  background: #24292d;
  padding: 60px 0 20px 0;
  color: #fff;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  width: 80%;
}
.child-footer {
  flex-basis: 24½;
}
.child-footer h3 {
  margin-top: 20px;
}
.child-footer .sosyal {
  display: flex;
  justify-content: start;
  margin-top: 10px;
}
.child-footer ul li {
  flex-basis: 15%;
}
.child-footer ul li a {
  color: #fff;
}
quicklinks {
  display: flex;
  flex-direction: column;
}
.quicklinks li a:hover {
  text-decoration: underline;
}
.contact li i {
  margin-right: 5px;
}
.child-footer form {
  font-display: flex;
  flex-direction: column;
}
.child-footer form input {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 25px;
  background: #122e44;
  border: none;
}
.child-footer form input:focus {
  color: #fff;
}
.child-footer form input:last-child {
  background: #24caac;
  margin: 0;
  border: 1px solid #24caac;
  color: #fff;
  transition: 0.3s;
}
.child-footer form input:last-child:hover {
  background: transparent;
  border: 1px solid #24caac;
}
